.bigArea {
    width: 60%;
    background-image: url('../assests/chatImage.jpg');
    background-position: center;
    background-size: cover;
}
.selectedChat{
        width: 60%;
            background-image: url('../assests/peakpx.jpg');
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
}
.selectedFriendData{
    height: 9%;
    color: white;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
        background-color: #1f313c;
        border-left: 1px solid gray;
}
.profilePhoto {
    margin-left: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.searchAndMenu{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}
.searchAndMenu :nth-child(2) {
    font-size: 25px;
}
.profilePhoto img {
    width: 100%;
    border-radius: 50%;
    height: 70%;
    cursor: pointer;
}
.chatArea{
        height: 80%;
    width: 100%;
            background-color: transparent;
            overflow-y: scroll;
            display: flex;
            align-items: end;
            justify-content: space-between;
}
.chatArea::-webkit-scrollbar {
display: none;
}
.typingArea{
            height: 11%;
    width: 100%;
                background-color: #1f313c;
                display: flex;
                justify-content: space-between;
                align-items: center;
}
.typingArea :nth-child(3) {
padding-left: 10px;
background-color: transparent;
width: 80%;
height: 50%;
border-radius: 10px;
color: white;
outline: none;
}
.typingArea :nth-child(3)::placeholder {
    color: white;
}
.messageByUser,.messageByMe{
    color: white;
    font-family: cursive;
    font-weight: 900;
    padding: 10px 20px 10px 30px;
    background-color: green;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    margin: 20px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.messageByMe {
    background-color: rgb(54, 22, 93);
    padding-left: 30px;
}
.messageByUser :nth-child(2),.messageByMe :nth-child(2) {
font-size: 10px;
margin-left: 30px;
}
